html {
  min-height: 100%;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;

}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.card-padding {
  padding: 1%;
  margin: 1%;

}
.card-padding h4{ font-weight:600;
  font-size: 1.7rem;
  text-transform: capitalize;
}


.card-padding h5{ font-weight: 300;
  font-size: 1.2rem;

}
