body {
   background-color: none,
}

html {
  min-height: 100%;
   background-image: url("Backgrounds/banff.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
