
<!doctype html>
{% load static %}
<html>
<head>
  <title>DOT</title>


  <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'main/materialize/css/materialize.min.css' %}"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>





</head>


<body>
  {% if user.is_authenticated %}
    <nav>
        <div class="nav-wrapper container">
          <a href="{% url 'home' %}" class="brand-logo">Day1</a>
          <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>



          <ul id="nav-mobile" class="right hide-on-med-and-down">

                  <li><a href="{% url 'mainlogin' %}">Main Page</a></li>
                  <li><a href="{% url 'makeentry' %}">Make Entry</a></li>

                  <li>
                    <a href="#" onClick="document.getElementById('logoutform').submit()">Logout</a>
                        <form id="logoutform" method="POST" action="{% url 'logoutuser' %}">
                          {% csrf_token %}
                          <input type="hidden">
                        </form>
                  </li>
                </ul>
                </div>
              </nav>

              <ul class="sidenav" id="mobile">
                <li><a href="{% url 'mainlogin' %}">Main Page</a></li>
                <li><a href="{% url 'makeentry' %}">Make Entry</a></li>

                <li>
                  <a href="#" onClick="document.getElementById('logoutform').submit()">Logout</a>
                      <form id="logoutform" method="POST" action="{% url 'logoutuser' %}">
                        {% csrf_token %}
                        <input type="hidden">
                      </form>
                </li>
              </ul>







              {% else %}
              <nav>
                  <div class="nav-wrapper container">
                    <a href="{% url 'home' %}" class="brand-logo">Day1</a>
                </div>
              </nav>
            {% endif %}










  <main class="">
  {% block content %}

  {% endblock %}
</main>






  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2021 Day1. Inc

      </div>
    </div>
  </footer>



















<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });

  

</script>
<script type="text/javascript" src="{% static 'main/materialize/js/materialize.min.js' %}"></script>












</body>
</html>
