{% extends "main/base.html" %}



{% block content %}


{% load static %}




<div class="entry-form-card">
  <div class="container">

    <form method="POST">
      {% csrf_token %}
      <div class="input-field">
        <label>Title</label>
        {{form.Title }}
      </div>
      <div style="margin-top:3rem"class="input-field">
        <label >Journal Entry</label>
        {{ form.Journal }}
      </div>

    <button style="margin-top:3rem; background-color:green" type="submit" class="waves-effect waves-dark btn">Update</button>
    <!-- <button style="margin-top:3rem" type="button" class="waves-effect waves-dark btn" onclick="getElementById('delete')">Delete</button> -->
    <form  method="POST" action="{% url 'deleteentry' slug %}">
        {% csrf_token %}
        <button style="margin-top:3rem" class="waves-effect waves-dark btn" id="delete" type="submit">Delete</button>
    </form>

  </form>




  </div>

</div>






{% endblock %}
