{% extends "main/base.html" %} {% block content %}






  {% if user.is_authenticated %}
  <h3>youre logged in </h3>



  {% else %}


<div class="login-container">
  <h4> Login  </h4>
    <div class="">
        {% if error %}
            <div style="margin-bottom: 10%; color: red" class="" role="">
                {{ error }}
            </div>
        {% endif %}


        <form method="POST" action="{% url 'loginuser' %}">
          {% csrf_token %}
            <div class="">
                <label for="username">Username</label>
                <input type="text" name="username" class="" id="username">
            </div>
            <div class="">
                <label for="password">Password</label>
                <input type="password" name="password" class="" id="password">
            </div>
            <button type="submit" class="waves-effect waves-dark btn"> Login</button>

        </form>
        <div class="signup-btn">
            Need an account? <a href="{% url 'signupuser' %}">Sign Up here</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
