{% extends "main/base.html" %} {% block content %}


<div class="">
  <h4> Welcome, {{ user.username }}.</h4>
  <h5>Would you like to make an entry ? </h5>
  <p><a href="{% url 'makeentry' %}">Make Entry </a></p>
</div>



{% for Entry in entries %}
<div class="card">
  <h4 class="card-header text-capitalize">{{ Entry.Title }}</h4>
  <div class="card-body">
    <h5 class="card-text">{{ Entry.Journal| safe | truncatewords:50 }}</h5>
    <a href="{% url 'viewentry' Entry.id %}">Read {{ Entry.Title }}</a>
  </div>
</div>
{% endfor %}

{% if user.is_authenticated %}




{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'loginuser' %}">Log In</a>
{% endif %}

{% endblock %}
