{% extends "main/base.html" %} {% block content %}
{% load static %}




<div class="entry-form-card">

  <div class="container">
  <h5 class="center-align">Make a new journal entry</h5>
  <form method="POST">
    {% csrf_token %}


      <div class="input-field">
        <label>Title</label>
        {{form.Title }}
      </div>
      <div style="margin-top:3rem"class="input-field">
        <label>Journal Entry</label>
        {{ form.Journal }}
      </div>

    <button style="margin-top:3rem" type="submit" class="waves-effect waves-dark btn">Save</button>
    </form>
    </div>



</div>







{% endblock %}
