{% extends "main/base.html" %} {% block content %}


<!-- auth Form -->
<div class="signup-container">
  <h4> Create your account.  </h4>

  {% if error %}
      <div style="margin-bottom: 10%; color: red" class="" role="">
          {{ error }}
      </div>
  {% endif %}

  <form method="POST">
             {% csrf_token %}
             <div class="">
                 <label for="username">Username</label>
                 <input type="text" name="username" class="" id="username" aria-describedby="">
                 <small id="usernameHelp" class="">Your username must be unique. We'll let you know if someone has taken it already.</small>
             </div>
             <div class="">
                 <label for="password1">Password</label>
                 <input type="password" name="password1" class="" id="password1">
             </div>
             <div class="">
                 <label for="password2">Confirm Password</label>
                 <input type="password" name="password2" class="" id="password2">
             </div>
             <button type="submit" class="waves-effect waves-dark btn">Sign Up</button>
         </form>
         <div class="signup-btn">
             Got an account? <a href="{% url 'loginuser' %}">Login here</a>
         </div>

</div>

{% endblock %}
