{% extends "main/base.html" %} {% block content %}







<div class="view-entry-container container">
  <h4> {{ entry.Title }} </h4>
  <small style="">{{entry.Date | date:"M d, Y"}}</small>



  <h5> {{ entry.Journal | safe }}</h5>


  <div class="go-back-btn">
  <form action="{% url 'editentry' slug %}">
      <button  style="background-color:orange"  class="waves-effect waves-dark btn" type="submit">Edit</button>
  </form>

    <form  action="{% url 'mainlogin' %}">
        <button class="waves-effect waves-dark btn " type="submit">Go back</button>
    </form>
  </div>

</div>













{% endblock %}
